body{
	margin:0px;
	padding:0px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; color:#333;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	position:relative;
	margin:0px;
	padding:0px; 
}